<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />  
    <meta name="gaoshiqing" content="nothing" />
    <title>南山有苑||论未名坛</title>
    <link href="css/main.css" rel="stylesheet" type="text/css"></link>
    <link href="css2/common.css" rel="stylesheet" type="text/css"/>
    <link href="css2/index2.css" rel="stylesheet" type="text/css"/>
    <link href="css2/slide.css" rel="stylesheet" type="text/css"/>
    <link href="css2/index-info.css" rel="stylesheet" type="text/css"/>    
    <link href="css2/vide-js.css" rel="stylesheet" type="text/css"/>
    <link href="css/bh.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/cookie.js"></script>
    <script type="text/javascript" src="js/plate.js"></script>
    <script type="text/javascript" src="js/notice.js"></script>
    <script type="text/javascript" src="js/homeInit.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script src="js/jquery.qrcode.min.js"></script>
    <script src="js/video.js"></script>
    <script src="js/index-download.js"></script>
    <script type="text/javascript" src="js/common.js"></script>   


<script type="text/javascript"> 
 var bForcepc = fGetQuery("dv") == "pc"; 
 function fBrowserRedirect(){ 
  var sUserAgent = navigator.userAgent.toLowerCase(); 
  var bIsIpad = sUserAgent.match(/ipad/i) == "ipad"; 
  var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os"; 
  var bIsMidp = sUserAgent.match(/midp/i) == "midp"; 
  var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4"; 
  var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb"; 
  var bIsAndroid = sUserAgent.match(/android/i) == "android"; 
  var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce"; 
  var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile"; 
  if(bIsIpad){ 
   var sUrl = location.href;  
   if(!bForcepc){ 
    window.location.href = "/m"; 
   } 
  } 
  if(bIsIphoneOs || bIsAndroid){ 
   var sUrl = location.href;  
   if(!bForcepc){ 
    window.location.href = "/m"; 
   } 
  } 
  if(bIsMidp||bIsUc7||bIsUc||bIsCE||bIsWM){ 
   var sUrl = location.href;  
   if(!bForcepc){ 
    window.location.href = "/m"; 
   } 
  } 
 } 
 function fGetQuery(name){//获取参数值 
  var sUrl = window.location.search.substr(1); 
  var r = sUrl.match(new RegExp("(^|&)" + name + "=([^&]*)(&|$)")); 
  return (r == null ? null : (r[2])); 
 } 
 function fShowVerBlock(){  
  if(bForcepc){ 
   document.getElementByIdx_x("dv_block").style.display = "block"; 
  } 
  else{ 
   document.getElementByIdx_x("ad_block").style.display = "block"; 
  } 
 } 
 fBrowserRedirect(); 
 </script>
</head>
<body id="index">
    <h1>南巷</h1>   
        
        <!--
<div class="zfx" style="margin-left:100px;margin-top:-170px;">
                    <div class="face" style="margin-left:5.5%;">
                    <img  src="/api/user/img?id=1" alt="头像" />
                    </div>
                    <div>
                    <a id="loginName" class="usename" href=""  >请登录</a></div>
</div>
-->
        <!-- 导航栏 -->
    <div class="nav">
        <ul class="nav-wrap">
	<li>
		<a href="/index.php">
			<span class="nav-btn active"><text>首页</text></span>
		</a>
	</li>
	<li>
		<a href="/index.php/news/">
			<span class="nav-btn "><text>新生导航</text></span>
		</a>
	</li>
	<li>
		<a href="/video.html">
			<span class="nav-btn "><text>登录注册</text></span>
		</a>
	</li>
	<li>
		<a href="/valkyria.html">
			<span class="nav-btn "><text>关于南巷</text></span>
		</a>
	</li>
	<li>
		<a href="/game.html">
			<span class="nav-btn "><text>社团汇总</text> </span>
		</a>
	</li>
	<li>
		<a href="http://www.cybergear-cn.com/ACM/repair_system/Home/Index/addOrder">
			<span class="nav-btn "><text>电脑报修</text></span>
		</a>
	</li>
	<li>
		<a href="http://www.cybergear-cn.com/ACM/official/lost_found/Home/Index/login">
			<span class="nav-btn "><text>失物招领</text></span>
		</a>
	</li>
	<li>
		<a href="/picture.html">
			<span class="nav-btn "><text>计协</text></span>
		</a>
	</li>
</ul>    </div>

    <div>
               
          <section id="section-1">

            <div class="content-wrap" style="text-align:center">
               
                <div class="avatar-list-wrapper">
                    <!-- 链接型视频栏 -->
                    <a href="javascript:playVideo('http://v.mihoyo.com/bh3rd/pv_v1_1.mp4')">
                      <div class="pv-btn-wrapper" style="position:absolute;top:50px;left:0">
                        <div class="pv-cover">
                          <div class="pv-mask"></div>
                         
                          <div class="cover-pic" id="game-pv"></div>
                        </div>
                        <div class="pv-title">中山像</div>
                      </div>
                    </a>
                    <!-- 板块 -->
                    <ul class="nav-list">
                        <div class="upline"></div>
                        <a href="valkyria/kiana_c1.html"><li class="avatar"><div id="avatar-kiana-c1"></div></li></a>
                        <a href="valkyria/kiana_pt.html"><li class="avatar"><div id="avatar-kiana-pt"></div></li></a>
                        <a href="valkyria/kiana_c3.html"><li class="avatar"><div id="avatar-kiana-c3"></div></li></a>
                        <a href="valkyria/kiana_c4.html"><li class="avatar"><div id="avatar-kiana-c4"></div></li></a>
                        <a href="valkyria/kiana_c4.html"><li class="avatar"><div id="avatar-kiana-c4"></div></li></a>
                        <div class="downline"></div>
                    </ul>
                    <!-- 链接型视频栏 -->
                    <a href="#">
                      <div class="pv-btn-wrapper" style="position:absolute;top:50px;right:0">
                        <div class="pv-cover">
                          <div class="pv-mask"></div>
                          
                          <div class="cover-pic" id="game-pv"></div>
                        </div>
                        <div class="pv-title">社团活力</div>
                      </div>
                    </a>
                    </div>
        </section>
                    <section id="section-2"  >
    <div id="index-news">
	<div id="index-news-top">
		<div id="index-news-top-left" >
		<div class="slide-wrap" data-length="3">
	<ul class="slide-content">
			<li data-index="0"><a href="#"><img src="./images/j.jpg"></a></li>
			<li data-index="1"><a href="#"><img src="./images/t.jpg"></a></li>
			<li data-index="2"><a href="#"><img src="./images/x.jpg"></a></li>
		</ul>
	<ul class="slide-dots">
			<li data-index="0" class=""></li>
			<li data-index="1" class=""></li>
			<li data-index="2" class=""></li>
		</ul>
</div>		</div>
		<div id="index-news-top-right">
			<a href="#" id="btn-news-more"></a>
			<ul id="news_nav_big" class="news-nav js-nav-title">
							<li class="on" data-for="nav_8818d4830dac5e2ade9f9587fc9ba1a4">
					<a href="javascript:void(0)" >公告</a>
				</li>
							<li class="" data-for="nav_1d9c15c5d2162ce48e816b504182e5be">
					<a href="javascript:void(0)" >新闻</a>
				</li>
							<li class="" data-for="nav_36c6f572a02b70284bee20c40b5ab640">
					<a href="javascript:void(0)" >活动</a>
				</li>
							<li class="" data-for="nav_fd5b76d5dd0bbec15339f8b44cf0e1a0">
					<a href="javascript:void(0)" >社团</a>
				</li>
                <li class="" data-for="nav_fd5b76d5dd0bbec15339f8b44cf0e1a9">
					<a href="javascript:void(0)" >攻略</a>
				</li>
                
						</ul>
						<ul class="index-news-list" id="nav_8818d4830dac5e2ade9f9587fc9ba1a4">
							<li>
					<a href="index.php/news/258">
						<div class="index-news-entry-date">2017-07-12</div>
						<div class="index-news-entry-title">[ 新闻 ] 标记1</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/257">
						<div class="index-news-entry-date">2017-07-07</div>
						<div class="index-news-entry-title">[ 新闻 ] 标记2</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/256">
						<div class="index-news-entry-date">2017-07-06</div>
						<div class="index-news-entry-title">[ 新闻 ] 标记3</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/255">
						<div class="index-news-entry-date">2017-07-04</div>
						<div class="index-news-entry-title">[ 新闻 ] 标记4</div>
					</a>
				</li>
				

						</ul>
									<ul class="index-news-list" id="nav_1d9c15c5d2162ce48e816b504182e5be">


							<li>
					<a href="index.php/news/258">
						<div class="index-news-entry-date">2017-07-12</div>
						<div class="index-news-entry-title">[ 新闻 ] 标记a</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/257">
						<div class="index-news-entry-date">2017-07-07</div>
						<div class="index-news-entry-title">[ 新闻 ] 名单（2017年7月7日）</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/256">
						<div class="index-news-entry-date">2017-07-06</div>
						<div class="index-news-entry-title">[ 新闻 ] V1.6「盛夏重逢」更新公告</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/255">
						<div class="index-news-entry-date">2017-07-04</div>
						<div class="index-news-entry-title">[ 新闻 ] 名单（7月4日）</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/254">
						<div class="index-news-entry-date">2017-07-04</div>
						<div class="index-news-entry-title">[ 新闻 ] 7月6日休伯利安号维护通知</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/253">
						<div class="index-news-entry-date">2017-06-27</div>
						<div class="index-news-entry-title">[ 新闻 ] 封号名单（2017年6月27日）</div>
					</a>
				</li>
						</ul>
									<ul class="index-news-list" id="nav_36c6f572a02b70284bee20c40b5ab640">
							<li>
					<a href="index.php/news/133">
						<div class="index-news-entry-date">2016-12-22</div>
						<div class="index-news-entry-title">[ 活动 ] 圣诞小镇系列任务活动预告</div>
					</a>
				</li>
							<li>
					<a href="http://event.bh3.com/bh3_pre_login/">
						<div class="index-news-entry-date">2016-08-09</div>
						<div class="index-news-entry-title">[ 活动 ] 预登录活动奖励确认中</div>
					</a>
				</li>
							<li>
					<a href="http://comic.bh3.com/">
						<div class="index-news-entry-date">2016-07-04</div>
						<div class="index-news-entry-title">[ 活动 ] 《崩坏AI娘爱酱绝对不会告诉玩家的事实》事前条漫连载中</div>
					</a>
				</li>
						</ul>
									<ul class="index-news-list" id="nav_fd5b76d5dd0bbec15339f8b44cf0e1a0">
							<li>
					<a href="index.php/news/215">
						<div class="index-news-entry-date">2017-04-06</div>
						<div class="index-news-entry-title">[ 社团 ] 爱酱的英魂殿 | 「卡莲·誓约」</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/166">
						<div class="index-news-entry-date">2017-01-19</div>
						<div class="index-news-entry-title">[ 社团 ] 伊萨克·牛顿食用指南</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/165">
						<div class="index-news-entry-date">2017-01-18</div>
						<div class="index-news-entry-title">[ 社团 ] 磁暴·斩食用指南</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/164">
						<div class="index-news-entry-date">2017-01-17</div>
						<div class="index-news-entry-title">[ 社团 ] 与爱酱的亲密接触VOL.15</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/162">
						<div class="index-news-entry-date">2017-01-15</div>
						<div class="index-news-entry-title">[ 社团 ] 「女武神·凯旋」使用心得</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/161">
						<div class="index-news-entry-date">2017-01-12</div>
						<div class="index-news-entry-title">[ 社团 ] 战术试验血色玫瑰简易指南</div>
					</a>
				</li>
						</ul>
            <ul class="index-news-list" id="nav_fd5b76d5dd0bbec15339f8b44cf0e1a9">
							<li>
					<a href="index.php/news/215">
						<div class="index-news-entry-date">2017-04-06</div>
						<div class="index-news-entry-title">[ 攻略 ] 英魂殿</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/166">
						<div class="index-news-entry-date">2017-01-19</div>
						<div class="index-news-entry-title">[ 攻略 ] 食用</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/165">
						<div class="index-news-entry-date">2017-01-18</div>
						<div class="index-news-entry-title">[ 攻略 ] </div>
					</a>
				</li>
							<li>
					<a href="index.php/news/164">
						<div class="index-news-entry-date">2017-01-17</div>
						<div class="index-news-entry-title">[ 攻略 ] 接触VOL.15</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/162">
						<div class="index-news-entry-date">2017-01-15</div>
						<div class="index-news-entry-title">[ 攻略 ] 使用心得</div>
					</a>
				</li>
							<li>
					<a href="index.php/news/161">
						<div class="index-news-entry-date">2017-01-12</div>
						<div class="index-news-entry-title">[ 攻略 ] 试验指南</div>
					</a>
				</li>
						</ul>
								</div>
	</div>
	<ul id="news-bottom-info" style="">
		
		<!--这里我删了一个-->

		<li class="" style="" title="贴吧">
			<a class="pop-btn" href="javascript:void(0)"><img src="images/lb_2_1.png"></a>
			<div class="info-pop" style="">
	            <a href="#" target="_blank"><img src="./images/a.jpg" width="184"></a>
	            <div class="pop-title-bottom"><div class="arrowrright"></div>官方贴吧</div>
			</div>
		</li>
		<li class="" style="" title="微信">
			<a class="pop-btn" href="javascript:void(0)"><img src="images/lb_3_1.png"></a>
			<div class="info-pop" style="">
	            <img src="./images/qiu.jpg" width="140">
	            <div class="pop-title-bottom"><div class="arrowrright"></div>站长微信</div>
			</div>
		</li>
		<li class="" style="" title="Q 群">
			<a class="pop-btn" href="javascript:void(0)"><img src="images/lb_4_1.png"></a>
			<div class="info-pop" style="width:333px;">
<div>别急目前还没</div>

			<div class="pop-title-bottom"><div class="arrowrright"></div>计协</div>
			</div>
		</li>
		<li class="" style="" title="微博">
			<a class="pop-btn" href="javascript:void(0)"><img src="images/lb_5_1.png"></a>
			<div class="info-pop" style="width:266px;right:0">
	            <iframe width='208' height='87' class='share_self' frameborder='0' scrolling='no' src=''></iframe>
				<div class="pop-title-bottom"><div class="arrowrright"></div>还没申请</div>
			</div>
		</li>
	</ul>
</div>
                        
        <script type="text/javascript">
	$('.slide-wrap').slideInit();
	$('.info-pop').append('<div class="close-btn"></div>');
	$('.close-btn').click(function() {
		$(this).parent().fadeOut();
	})
	$('.pop-btn').click(function() {
		$('.info-pop').hide();
		$(this).siblings().fadeIn();
	})
</script>
        </section>
            
    </div>


    
    </body>
</html>