<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>hello</title>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="js/cookie.js"></script>
    	<script type="text/javascript" src="js/homeInit.js"></script>
</head>
<body>
<h3>板块：</h3>
<a href="/platepost?id=10">日常  </a>
<a href="/platepost?id=11">闲聊  </a>
<a href="/platepost?id=12">老司机  </a>
<a href="/platepost?id=13">技术交流</a><br/>
<h3>登录注册：</h3>
<a href="/login">登录</a><br/>
<a href="regist">注册</a><br/>
<h3>个人页面：</h3>
<a id="loginName" href="user">我的个人页面</a>
<h3>上传头像</h3>
<p>注意上传头像前请先登录</p>
<form action="/api/user/up" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/><br/><br/>
    <input type="submit" value="上传"/>
</form>
</body>
</html>