<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Login !</title>
</head>
<body>
<form method="post" action="/imgvrifyControllerDefaultKaptcha">
    <p th:text="登录界面"></p>
    <p>账号<input type="text" name="name" /></p>
    <p>密码<input type="password" name="passwd" /></p>
    <p>验证码<input type="text" name="vrifyCode" /></p>
    <p><input type="submit" value="登录" /></p>
</form>
<img src="/Kaptcha" />
<a href="regist.html">还没账号？点我注册</a>
</body>
</html>