<html>
	<head>
		<title>我的首页</title>

<!--
		<link rel="stylesheet" type="text/css" href="./CSS/mypage.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />	
		<link href="css/main.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/cookie.js"></script>
		<script type="text/javascript" src="js/notice.js"></script>
		<script type="text/javascript" >
		$(document).ready(function(){
			noticeMsg();
		}
		)
		</script>
		
-->
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/cookie.js"></script>
		<script type="text/javascript" src="js/notice.js"></script>
		<script type="text/javascript" >
		$(document).ready(function(){
			noticeMsg();
		}
		)
		</script>


	</head>

	<body>

		<div class="ggl">
			<p id="noticeContent" ></p>
		</div>


	</body>
</html>