<!DOCTYPE html>
<html>
	<head>
		<title>所有贴子</title>

		<link rel="stylesheet" type="text/css" href="./CSS/platepost.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="js/cookie.js"></script>
    	<script type="text/javascript" src="js/post.js"></script>
    	<script type="text/javascript">
        $(document).ready(function () {
          checkPlateCookie();
          checkUserStatus();
          pagination();
          topPostInit();
            
        });
    </script>
	</head>
	<body>

		<div class="top">
			<a class="back" href="/">返回</a>
			<a id="userId" class="login" href="/">login</a>
		</div>

		<div class="headline">
			<div class="headimg">    
            <img src="./static/jj.jpg" />
       		</div>
			<font id="plateTitle" face="宋體" size="+3" color="white">板块名</font>
		</div>

		<div class="up">
			
		</div>

		<div class="post">
			
		</div>
		
		<div id="newReply">
			
			<textarea id="replyTitle" class="say" rows="2" cols="5"></textarea>
			<textarea id="replyContent" class="say" rows="5" cols="5"></textarea>
			<button class="sand">发送</button>
		</div>
	</body>
</html>