<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=320, user-scalable=no" />
  <meta name="wap-font-scale" content="no" />
  <script type="text/javascript">
        window.login = false;
        window.username = "guest";
  </script>
<!-- start _stylesheets_and_scripts.php-->
<link href="http://pic.zdnfbbs.cn/all.css" rel="stylesheet" type="text/css"></link>

<script>
    if (typeof(window.console) == 'undefined')
        window.console = {};
    if (typeof(window.console.log) == 'undefined')
      window.console.log = function(a){};
</script>
<script src="https://bbs.pku.edu.cn/v2/mobile/libs/jquery-1.11.3.min.js"></script>
<script src="https://bbs.pku.edu.cn/v2/mobile/libs/underscore-min.js"></script>
<script src="https://bbs.pku.edu.cn/v2/mobile/libs/crypto-js/crypto-js.js"></script>
<script src="https://bbs.pku.edu.cn/v2/mobile/libs/bdwm/bdwm.min.js?v3"></script>
<script src="https://bbs.pku.edu.cn/v2/mobile/js/all.min.js?v17"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<!-- end _stylesheets_and_scripts.php-->

<!-- start meta -->
<title>南苑论坛</title>

<!-- end meta -->
</head>
<body>
<div style="margin:0 auto;width:0px;height:0px;overflow:hidden;"><img src="images/logo.jpg" /></div> <!-- for wechat thumb -->
<div id="top-search">
  <span class="logo">南巷</span>
  <div class="search">
    <input data-role="top-search-text" type="text" placeholder="版面、帖子、用户" />
    <a data-action="top-search"></a>
  </div>
</div>


<div id="top-nav" >
  <a href="#" >首页</a
  ><a href="#" class="active">版面</a>
  <a>队友</a>
  
  <a href="/login">注册</a>
  </ul>
  <a href="/login">登录</a>
</div>



<div id="page-content">
  <!-- this is the real content-->
<!-- start main -->
<div id="page-home">

        <div class="card">
      <div class="title">
        <a class="name" href="thread.php?bid=352">二区</a>
        </div>
        <ul>
              <li><a href="#" class="post-link" /></a><a class="post-title" >[二区]心态爆炸</a></li>
              <li><a href="#" class="post-link" /></a><a class="post-title" >[二区]守望在这里集合</a></li>
              <li><a href="#" class="post-link" /></a><a class="post-title" >[二区]根本就没有wifi</a></li>
              <li><a href="#" class="post-link" /></a><a class="post-title" >[二区]军训得我怀疑人生</a></li>
               
          </ul>
    </div>



    <div class="card">
      <div class="title">
        <span class="name">山区</span>
      </div>
      <ul>
                  <li><a class="post-title inline" href="">从化秋名山车王传</a>
                      
                  </li>                    
                  <li><a class="post-title inline" href="">大山里面的骚操作</a>                    
                  </li>                    
                  <li><a class="post-title inline" href="">山海经</a>     
                  </li>                    
                                  
      </ul>

    </div>


        <div class="card">
      <div class="title">
        <a class="name" href="http://www.cybergear-cn.com/ACM/official/lost_found/Home/Index/login">市区</a>
        <!-- <a class="more-link" href="thread.php?bid=165">更多</a> -->
      </div>
      <ul>
                    <li><a href="#" class="post-link" /></a><a class="post-title" >广州十大</a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" ></a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" ></a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" ></a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" ></a></li>
                  </ul>
    </div>


        <div class="card">
      <div class="title">
        <a class="name" href="#">情区</a>
        <!-- <a class="more-link" href="board.php?bid=621">更多</a> -->
      </div>
      <ul>
            <li>
              <a class="post-link" href="#"></a>
              <a class="post-title">我在等一个人</a>
              <a class="post-info">美少女秋彤</i></a>
            </li>
             <li>
              <a class="post-link" href="#"></a>
              <a class="post-title"></a>
              <a class="post-info"><i class="iconfont">&#xe608;</i></a>
            </li>
            <li>
              <a class="post-link" href="#"></a>
              <a class="post-title"></a>
              <a class="post-info"><i class="iconfont">&#xe608;</i></a>
            </li>
              <li>
              <a class="post-link" href="#"></a>
              <a class="post-title"></a>
              <a class="post-info"><i class="iconfont">&#xe608;</i></a>
            </li>
                  </ul>
    </div>


          <div class="card">
      <div class="title">
        <a class="name" href="board.php?bid=664">十三区</a>
        <!-- <a class="more-link" href="board.php?bid=664">更多</a> -->
      </div>
      <ul>
                    <li>
              <a class="post-link" href="/platepost?id=10"></a>
              <a class="post-title"
                        >在这里，考验你的吹逼能力</a>
              <a class="post-info">不科学你也得信<i class="iconfont">&#xe608;</i>99+</a>
            </li>
                        <li>
              <a class="post-link" href="/platepost?id=11"></a>
              <a class="post-title"
                        >听说宿舍昨晚。。。</a>
              <a class="post-info">不知名人士<i class="iconfont">&#xe608;</i>99+</a>
            </li>
                        <li>
              <a class="post-link" href="/platepost?id=12"></a>
              <a class="post-title"
                        >手机卡信号解密</a>
              <a class="post-info">联通MMP<i class="iconfont">&#xe608;</i>99+</a>
            </li>
                        <li>
              <a class="post-link" href=""></a>
              <a class="post-title"
                        >你知道吗</a>
              <a class="post-info">不存在的<i class="iconfont">&#xe608;</i>99+</a>
            </li>
                  </ul>
    





 </div>
</div>

</div>


</body>
</html>
