<!DOCTYPE html>
<html>
	<head>
		<title>所有贴子</title>

		<link rel="stylesheet" type="text/css" href="css/platepost.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
		<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/default.css">
  	<link href="css/cover.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<!-- Begin emoji-picker Stylesheets -->
	<link href="lib/css/nanoscroller.css" rel="stylesheet">
	<link href="lib/css/emoji.css" rel="stylesheet">
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/cookie.js"></script>
		<script type="text/javascript" src="js/format.js"></script>
    	<script type="text/javascript" src="js/post.js"></script>
    	<script src="lib/js/nanoscroller.min.js"></script>
	<script src="lib/js/tether.min.js"></script>
	<script src="lib/js/config.js"></script>
	<script src="lib/js/util.js"></script>
	<script src="lib/js/jquery.emojiarea.js"></script>
	<script src="lib/js/emoji-picker.js"></script>
	<script src="js/moxie.js" type="text/javascript"></script>
	<script src="js/plupload.dev.js" type="text/javascript"></script>
	<script src="js/i18n/zh_CN.js" type="text/javascript"></script>
	<script src="js/qiniu.js" type="text/javascript"></script>
    <script src="js/pic.js" type="text/javascript"></script>
	</head>
	<body >

		<div class="top">
			<a class="back" href="/">返回</a>
		</div>
		<div class="headline">
			<div class="headimg">    
            <img src="nanxiang.jpg">
       		</div>
		</div>
		
    		<div class="lineBorder" >
      		<a class="areaTitle" href="javascript:void(0)">回复</a>
     		</div>
     		<!-- <div id="newReply"> -->
			<div class="htmleaf-container">
		
		<div class="site-wrapper">
		    <div class="site-wrapper-inner">
		      <div class="cover-container">

		        <div class="inner cover">

		          <!-- <p class="lead emoji-picker-container">
		            <input type="email" class="form-control" placeholder="Input field" data-emojiable="true">
		          </p> -->

		          <p class="lead emoji-picker-container">
		            <textarea class="form-control textarea-control" rows="3" placeholder="Textarea" data-emojiable="true"></textarea>
		            <a id='filesUpload'><i id='filesIcon'></i></a>
		          </p>

		        </div>

		      </div>

		    </div>
		  </div>
	</div>
			<button class="sand">发送</button>
		<!-- </div> -->
	
   
    
	

      
    













	</body>
</html>