<html><head>
<title>贴子</title>

<link href="css/sendButton.css" rel="stylesheet" type="text/css">
<link href="css/post.css" rel="stylesheet" type="text/css">
<link href="css/buttonDIV.css" rel="stylesheet" type="text/css">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" name="viewport">
<link href="css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="js/format.js"></script>
<script type="text/javascript" src="js/post.js"></script>
<script type="text/javascript" src="js/strapdown.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		checkUserStatus();
		checkAnchor();
	})
</script>


</head>

<body style="padding:0px;">

	<div class="title">
		<font color="white" face="宋體" id="ownerPlate" size="+3"></font>
		<a class="login" href="./index.html" id="userId">login</a>
		<a  class="home" href="">返回</a>
	</div>
	<div class="clear"></div> 
	<hr>
	<!--发帖人-->
	<div id="towerOwner">
		<div class="host">
			<img class="headshot" height="80px" id="ownerphoto" src="/api/user/img?id=skyisbule" width="80px">
			<div class="name" id="author">skyisbule</div>
		</div>
		<div class="hosttitle" id="title">啊啊啊</div>
		<hr>
		<div class="hostmessage" id="content"><xmp>123</xmp></div>

		<div class="tail">
			<span class="tailtime" id="ownerTime">2017-08-01 19:25:27.0</span>
			<span class="tailfloor">第1楼</span>
			
		</div>

		<div class="clear"></div> 
		<hr>
	</div>


	
	<div id="page-content">
		<div id="page-thread">
			<div class="board-body">
				<a class="orange-btn submit-btn fixed" href="/plateReplyPage?id=1" id="replySkip">回复</a>
			</div>
		</div>
		<div class="button" id="morePost" style="margin:0px 25% 20px 25%">点击记载更多</div>
	</div>
    <!-- <ul id="pagination-digg">
    <li class="previous-off"><a href="">&laquo;初页</a></li>
      <li class="active">1</li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">5</a></li>
      <li><a href="">6</a></li>
      <li><a href="">7</a></li>
      <li class="next"><a href="">末页 &raquo;</a></li>
  </ul> -->
  <div class="clear"></div>




</body></html>