<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=320, user-scalable=no">
  <meta name="wap-font-scale" content="no">

  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="js/strapdown.js"></script>
<script type="text/javascript" src="js/format.js"></script>
<script type="text/javascript">
$(document).ready(function () {
        if(IsPC())
        {
          window.close(); 
          alert('论坛尚未支持电脑端，请使用手机开启');
        }
});
  $(document).ready(function(){
    var userCookie = checkLoginStatus();
    if(userCookie) {
      $("#l_or_p").text("个人");
      $("#l_or_p").attr("href","/mypage?name="+escape(userCookie));
    }
  })
</script>

<script>
function GetQueryString(name)
{
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
}

var id=GetQueryString("id");

$.get("/api/notice/content","id="+id,function(data){
      content=document.getElementById("content");  // 找到元素
      content.innerHTML=data.content;

      time=document.getElementById("time");  // 找到元素
      time.innerHTML=data.time;

      title=document.getElementById("title");  // 找到元素
      title.innerHTML=data.title;
    })
</script>

  <link rel="stylesheet" href="http://pic.zdnfbbs.cn/all.css">

  <title>南巷</title>

  <style>#page-content{background: white;}#footer{background: white;}</style>

</head>
<body>
<!-- for wechat thumb -->
<div id="top-search">
  <span class="logo">南巷BBS</span>
  <div class="search">
    <input data-role="top-search-text" type="text" placeholder="帖子、回复" />
    <a id="search" data-action="top-search"><i class="iconfont"></i></a>
  </div>
</div>
<div id="top-nav" >
  <a href="/" >首页</a
  ><a href="/mplate" class="active" >版面</a>
  <a>新闻</a>

  <a href="/m/login" id="l_or_p">登录</a>
  </ul>
  <a href="/help">帮助</a>
</div>

<div id="page-content">
  <!-- this is the real content-->
  <!-- start main -->
  <div id="page-collection-read">

    <p class="title" id="title">[总纲]南巷BBS 总纲</p>
    <div class="collection-card">
      <a href="user.php?uid=8911" class="author">
        <div class="avatar">
          <img src="nanxiang.jpg">
          <span class="vip-0"></span>
        </div>
        <span class="name text-limit">skyisbule</span>
        <span class="time" id='time'>2017-8-6 21:13:41</span>
      </a>
      <!--正文-->

      <div class="file-read body" id="content">

        

    </div>
    <!--正文结束！！！-->
    </div>
  </div>

  <!-- end main -->
  <!-- content end-->
</div>

<div id="footer">
  <p><a href="/">计协</a><span>-</span><a href="/help">帮助中心</a><span>-</span><a href="/platepost?id=22">意见反馈</a></p>
  <p>© 2017–2017 南巷BBS</p>
</div> 
</body>
</html>
