<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=320, user-scalable=no" />
  <meta name="wap-font-scale" content="no" />
<link rel="stylesheet" href="./css/all.css" />
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="js/format.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var userCookie = checkLoginStatus();
    if(userCookie) {
      $("#l_or_p").text("个人");
      $("#l_or_p").attr("href","/mypage?name="+escape(userCookie));
    }
  })
</script>
<title>南巷</title>
</head>
<body>
<div id="top-search">
  <span class="logo">南巷BBS</span>
  <div class="search">
    <input data-role="top-search-text" type="text" placeholder="版面、帖子、用户" />
    <a data-action="top-search"></a>
  </div>
</div>


<div id="top-nav" >
  <a href="#" class="active" >首页</a
  ><a href="/mplate" >版面</a>
  <a href="/freshman">新生</a>
  
  <a href="/m/login" id="l_or_p">登录</a>
  
  <a href="/help">帮助</a>
</div>



<div id="page-content">
  <!-- this is the real content-->
<!-- start main -->
<div id="page-home">


<div id="banner_top_0" style="display: block;">
        <a href="/freshman"><img src="news.jpg" height="41"></a>
      </div>


        <div class="card">
      <div class="title">
        <a class="name" href="#">公告</a>
        </div>
        <ul>
              <li><a href="/post?id=13" class="post-link" /></a><a class="post-title" >[公告]关于功能问题</a></li>
                            
              <li><a href="/post?id=14" class="post-link" /></a><a class="post-title" >[公告]图片问题！</a></li>
               
          </ul>
    </div>



    <div class="card">
      <div class="title">
        <span class="name">热门版面</span>
      </div>
      <ul>
                  <li><a class="post-title inline" href="/platepost?id=1">南苑总板</a>
                      <a class="post-title inline" href="/platepost?id=2">军训</a>
                  </li>                    
                  <li><a class="post-title inline" href="/platepost?id=4">跳蚤市场</a>                    
                      <a class="post-title inline" href="http://www.cybergear-cn.com/ACM/repair_system/Home/Index/addOrder">电脑维修</a>
                  </li>                    
                  <li><a class="post-title inline" href="/platepost?id=11">电脑推荐</a>            
                      <a class="post-title inline" href="/platepost?id=15">动漫</a>
                  </li>                    
                  <li><a class="post-title inline" href="/platepost?id=3">南苑美食</a>                    
                    <a class="post-title inline" href="/platepost?id=5">交朋友</a>
                  </li>                    
                  <li><a class="post-title inline" href="/platepost?id=17">王者荣耀</a>                    
                    <a class="post-title inline" href="/platepost?id=23">求助</a>
                  </li>                
      </ul>

    </div>


        <div class="card">
      <div class="title">
        <a class="name" href="http://www.cybergear-cn.com/ACM/official/lost_found/Home/Index/login">失物招领</a>
        <!-- <a class="more-link" href="thread.php?bid=165">更多</a> -->
      </div>
      <ul>
                    <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校医院捡到车钥匙</a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校园卡&nbsp;桂世林&nbsp;信科</a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校园卡&nbsp;梁新秀&nbsp;1601214096&nbsp;&nbsp;深研院</a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校园卡&nbsp;&nbsp;朴妙卿&nbsp;普通进修生</a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校园卡，物理学院16级，杨宗霖</a></li>
                  </ul>
    </div>


        <div class="card">
      <div class="title">
        <a class="name" href="#">BBS系统</a>
        <!-- <a class="more-link" href="board.php?bid=621">更多</a> -->
      </div>
      <ul>

            <li>
              <a class="post-link" href="#"></a>
              <a class="post-title" href="/platepost?id=22">[意见] 意见反馈</a>
              <a class="post-info">任何意见都可以，我们每条都会看！</i></a>
            </li>

            <li>
              <a class="post-link" href="#"></a>
              <a class="post-title" href="/platepost?id=21">[原始]关于南巷</a>
              <a class="post-info">南巷的由来啊 </a>
            </li>

             <li>
              <a class="post-link" href="#"></a>
              <a class="post-title">[申请]申请版面！</a>
              <a class="post-info">申请属于自己的版面</a>
            </li>

            <li>
              <a class="post-link" href="#"></a>
              <a class="post-title" href="/faq">[南巷] 如何使用南巷</a>
              <a class="post-info">站长工作室</a>
            </li>

            <li>
              <a class="post-link" ></a>
              <a class="post-title" href="/rule">[南巷] 南巷站规</a>
              <a class="post-info">请务必阅读与遵守</a>
            </li>

            <li>
              <a class="post-link" ></a>
              <a class="post-title" href="/superclass">[南巷] 总纲</a>
              <a class="post-info">请务必阅读与遵守</a>
            </li>
            
              
                  </ul>
    </div>


 
    <div class="card contract-us">
      <div class="title">
        <span class="name">联系我们</span>
      </div>
      <div>
        <div class="sn-block">
          <p class="sn-link">微信</a></p>
          <img class="qr-code" src="http://omspj9k7f.bkt.clouddn.com/wechat.jpg">
        </div>
        <div class="sn-block">
          <p class="sn-link">捐赠我们</p>
          <img class="qr-code" src="http://omspj9k7f.bkt.clouddn.com/fukuan.jpg" />
        </div>
      </div>
    </div>

 </div>
</div>


</div>

<div id="footer">
  <p><a href="/">计协</a><span>-</span><a href="/help">帮助中心</a><span>-</span><a href="/platepost?id=22">意见反馈</a></p>
  <p>© 2017–2017 南巷BBS</p>
</div> 
</body>
</html>
