<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=320, user-scalable=no" />
  <meta name="wap-font-scale" content="no" />
  <link rel="canonical" href="https://bbs.pku.edu.cn/v2/home.php" />
<link rel="stylesheet" href="https://bbs.pku.edu.cn/v2/mobile/css/all.css?v15" />
<script src="https://bbs.pku.edu.cn/v2/mobile/libs/jquery-1.11.3.min.js"></script>
<title>南巷</title>
</head>
<body>
<div style="margin:0 auto;width:0px;height:0px;overflow:hidden;"><img src="images/logo.jpg" /></div> 
<div id="top-search">
  <span class="logo">南巷BBS</span>
  <div class="search">
    <input data-role="top-search-text" type="text" placeholder="版面、帖子、用户" />
    <a data-action="top-search"></a>
  </div>
</div>


<div id="top-nav" >
  <a href="#" class="active" >首页</a
  ><a href="/mplate" >版面</a>
  <a>新生</a>
  
  <a href="/m/login">登录</a>
  </ul>
  <a href="/help">帮助</a>
</div>



<div id="page-content">
  <!-- this is the real content-->
<!-- start main -->
<div id="page-home">

        <div class="card">
      <div class="title">
        <a class="name" href="thread.php?bid=352">公告</a>
        </div>
        <ul>
              <li><a href="#" class="post-link" /></a><a class="post-title" >[公告]关于此论坛！</a></li>
              <li><a href="#" class="post-link" /></a><a class="post-title" >[公告]关于南苑计算机协会！</a></li>
              <li><a href="#" class="post-link" /></a><a class="post-title" >[公告]关于计协开发部</a></li>
              <li><a href="#" class="post-link" /></a><a class="post-title" >[公告]如何加入我们！</a></li>
               
          </ul>
    </div>



    <div class="card">
      <div class="title">
        <span class="name">热门版面</span>
      </div>
      <ul>
                  <li><a class="post-title inline" href="/platepost?id=10">日常闲聊</a>
                      <a class="post-title inline" href="/platepost?id=12">军训</a>
                  </li>                    
                  <li><a class="post-title inline" href="http://www.cybergear-cn.com/ACM/official/lost_found/Home/Index/login">跳蚤市场</a>                    
                      <a class="post-title inline" href="http://www.cybergear-cn.com/ACM/repair_system/Home/Index/addOrder">电脑维修</a>
                  </li>                    
                  <li><a class="post-title inline" href="/platepost?id=13">电脑推荐</a>            
                      <a class="post-title inline" href="/platepost?id=17">动漫</a>
                  </li>                    
                  <li><a class="post-title inline" href="/platepost?id=14">南苑美食</a>                    
                    <a class="post-title inline" href="/platepost?id=15">交友勾搭</a>
                  </li>                    
                  <li><a class="post-title inline" href="/platepost?id=11">闲聊</a>                    
                    <a class="post-title inline" href="/platepost?id=16">老司机</a>
                  </li>                
      </ul>

    </div>


        <div class="card">
      <div class="title">
        <a class="name" href="http://www.cybergear-cn.com/ACM/official/lost_found/Home/Index/login">失物招领</a>
        <!-- <a class="more-link" href="thread.php?bid=165">更多</a> -->
      </div>
      <ul>
                    <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校医院捡到车钥匙</a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校园卡&nbsp;桂世林&nbsp;信科</a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校园卡&nbsp;梁新秀&nbsp;1601214096&nbsp;&nbsp;深研院</a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校园卡&nbsp;&nbsp;朴妙卿&nbsp;普通进修生</a></li>
                        <li><a href="#" class="post-link" /></a><a class="post-title" >【招领】校园卡，物理学院16级，杨宗霖</a></li>
                  </ul>
    </div>


        <div class="card">
      <div class="title">
        <a class="name" href="#">〇区 BBS系统</a>
        <!-- <a class="more-link" href="board.php?bid=621">更多</a> -->
      </div>
      <ul>

            <li>
              <a class="post-link" href="#"></a>
              <a class="post-title">[意见] 意见反馈</a>
              <a class="post-info">任何意见都可以，我们每条都会看！</i></a>
            </li>

            <li>
              <a class="post-link" href="#"></a>
              <a class="post-title">[原始]关于南巷</a>
              <a class="post-info">南巷的由来啊 </a>
            </li>

             <li>
              <a class="post-link" href="#"></a>
              <a class="post-title">[申请]申请版面！</a>
              <a class="post-info">申请属于自己的版面</a>
            </li>

            <li>
              <a class="post-link" href="#"></a>
              <a class="post-title">[南巷] 如何使用南巷</a>
              <a class="post-info">站长工作室</a>
            </li>

            <li>
              <a class="post-link" href="#"></a>
              <a class="post-title">[南巷] 南巷站规</a>
              <a class="post-info">请务必阅读与遵守</a>
            </li>
            
              
                  </ul>
    </div>


 
    <div class="card contract-us">
      <div class="title">
        <span class="name">联系我们</span>
      </div>
      <div>
        <div class="sn-block">
          <p class="sn-link">站长微信</a></p>
          <img class="qr-code" src="http://omspj9k7f.bkt.clouddn.com/wechat.jpg">
        </div>
        <div class="sn-block">
          <p class="sn-link">捐赠我们</p>
          <img class="qr-code" src="http://omspj9k7f.bkt.clouddn.com/fukuan.jpg" />
        </div>
      </div>
    </div>

 </div>
</div>


</div>

<div id="footer">
  <p><a href="/v2/home.php?from_mobile_long=1">计协</a><span>-</span><a href="help.php">帮助中心</a><span>-</span><a href="mail-new.php?username=SYSOP">意见反馈</a></p>
  <p>© 2000–2017 南巷BBS</p>
</div> 
</body>
</html>
