
<!-- start pre_output -->

<!-- end pre_output -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=320, user-scalable=no">
  <meta name="wap-font-scale" content="no">
  <link rel="apple-touch-icon" href="images/logo.jpg">
<link rel="stylesheet" type="text/css" href="css/all_plate.css">
  <link rel="stylesheet" type="text/css" href="css/buttonDIV.css">
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/format.js"></script>
  <script type="text/javascript" src="js/cookie.js"></script>
      <script type="text/javascript" src="js/post.js"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          topPostInit();
          setTimeout(function(){
            postInit(1,0);
          },200)
         
        });
    </script>
  <script type="text/javascript">
  $(document).ready(function(){
    var userCookie = checkLoginStatus();
    if(userCookie) {
      $("#l_or_p").text("个人");
      $("#l_or_p").attr("href","/mypage?name="+escape(userCookie));
    }
  })
</script>


<!-- start meta -->
<title>南巷</title>

<!-- end meta -->
</head>
<body>
<div style="margin:0 auto;width:0px;height:0px;overflow:hidden;"><img src="images/logo.jpg"></div> <!-- for wechat thumb -->
<div id="top-search">
  <span class="logo">南巷</span>
  <div class="search">
    <input data-role="top-search-text" type="text" placeholder="版面、帖子、用户">
    <a data-action="top-search"></a>
  </div>
</div>
<div id="top-nav" >
  <a href="/">首页</a
  ><a href="/mplate" class="active">版面</a>
  <a>新生</a>
  
  <a href="/m/login" id="l_or_p">登录</a>
  </ul>
  <a href="/help" >帮助</a>
</div>

<div id="page-content">

<div id="page-thread">


  <div class="board-body">
    <div class="row board-option" >
      <a id="plateTitle" class="btn"  href="javascript:void(0)">帖子</a>
      </div>
      
         <a id="replySkip" class="orange-btn submit-btn fixed" href="/add">发帖</a>
   
      <div class="row board-option" >
    <div id="morePost" class="button" style="margin:10px 25%">点击记载更多</div>
     </div>
    </div>

</div>

<!-- end main -->
  <!-- content end-->
</div>

<div id="footer">
  <p><a href="/">计协</a><span>-</span><a href="/help">帮助中心</a><span>-</span><a href="/platepost?id=21">意见反馈</a></p>
  <p>© 2017–2017 南巷BBS</p>
</div> 
</body>
</html>
