<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=320, user-scalable=no">
  <meta name="wap-font-scale" content="no">
<link rel="stylesheet" href="../css/all.css" />
<script type="text/javascript">
        function sub(){
          document.getElementById('login_form').submit();
          return false;
        }
    </script>

  

  <title>南巷</title>

</head>
<body>

  <img id="big-title-header" src="/logo.png">

  <div id="big-title-content">

    <div id="page-login">
      <form accept-charset="utf-8" action="../logining"  id="login_form" method="post" name="loginform">
        <input data-role="username" type="text" placeholder="用户名/username" name="name">
        <input data-role="password" type="password" placeholder="密码/password" name="passwd">
        <div class="buttons">
        <a href="#" class="orange-btn" name="submit" onclick="sub()">登录</a>
        <a href="/m/regist" class="white-btn">注册</a>
        </div>
      </form>



      <p class="links"><a href="/superclass">总纲</a>　|　<a href="/rule">站规</a>　|　<a href="/platepost?id=22">意见反馈</a></p>
      <p class="links" style="margin-top: 15px;"><a href="/help">2017新生帮助中心</a></p>
    </div>

  </div>

  <div id="big-title-footer">
    <p>南巷BBS</p>
  </div>
</body>
</html>
