<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=320, user-scalable=no">
  <meta name="wap-font-scale" content="no">
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/format.js"></script>
  <script type="text/javascript" src="/js/regist.js"></script>
  <link rel="stylesheet" href="http://pic.zdnfbbs.cn/all.css" />
  <script type="text/javascript">
      $(document).ready(function () {
        if(IsPC())
        {
          window.close(); 
          alert('论坛尚未支持电脑端，请使用手机开启');
        }
});
        function sub(){
          $(".warning-info").each(function(){
            if($(this).css("display")=="none"&&$("#useNameRepeat")&&$("#passwdLength")&&$("#passwdRepeat")&&$("#phoneLength")){
              document.getElementById('regUser').submit();return false;
          }
          else {
            return;
          }
          })

        }
    </script>
<title>南巷</title>

</head>
<body>

<img id="big-title-header" src="/logo.png">

<div id="big-title-content">
  <!-- this is the real content-->
<!-- start main -->
<div id="page-register">

  <div class="form-content" >
    
    <div class="tab-infos">
      <div class="tab-info">
        <span>请填写以下基本信息，用户名即为发帖时显示的名字，一旦注册，不得更改。</span>
      </div>
    </div>


  <div class="form" data-role="form-1" >
    <form accept-charset="utf-8" action="../registing" id="regUser" method="post" name="regForm">


<div class="form-group">
    <label class="row">用户名 
      <span class="instruction" style="margin-left: 0;">发帖时展示，唯一不可更改</span>
    </label>
  <input class="row" name="name"
         type="text" AUTOCOMPLETE="off"
         placeholder="2-10个字" maxlength="10">
  <span id="useNameRepeat" class="warning-info">请输入长度2~10的用户名,仅支持英文，中文，数字以及少数特殊符号</span>
  
</div>
      

<div class="form-group">
  
    <label class="row">密码 </label>
  
  <input class="row" name="passwd"
         type="password"
         maxlength="20" 
         
         placeholder="8~20位">
  
  
  <span id="passwdLength" class="warning-info">密码应为8~20位</span>
  
</div>
  

<div class="form-group">
  
    <label class="row">重复密码 </label>
  
  <input name="rePasswd" class="row"  type="password" maxlength="20" >
  
  
  <span id="passwdRepeat" class="warning-info">两次输入的密码不同</span>
  
</div>

<div class="form-group">
  <div class="row">
    <label>个人签名<span class="instruction">随便写点东西就好</span></label>
  </div>
  <input type="text" class="medium row" name="introduce" placeholder="我还是很喜欢你，像风走了八百里，不问归期。">
</div>


<div class="form-group">
  <label class="row">性别</label>
  <div class="row">
    <input type="radio" id="form-1-radio-gender-1" data-role="gender" name="sex" value="男" checked>
    <label for="form-1-radio-gender-1">男</label>
    <input type="radio" id="form-1-radio-gender-2" data-role="gender" name="sex" value="女">
    <label for="form-1-radio-gender-2">女</label>
    <input type="checkbox" id="form-1-radio-gender-3" data-role="hide_gender" value="true">
    
  </div>
</div>


<div class="form-group">
  
    <label class="row">手机号</label>
  <input class="row" name="telnum" type="text" maxlength="11" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/">
  <span class="warning-info" id="phoneLength" >手机号填写错误</span>
  
</div>
<div class="form-group" style="
    width: 100%;
    float: left;">
  
  <input class="row" maxlength="4" name="verify" type="text" style="
    width: 60%;
    float: left;">
  
  <div class="row" style="float:right;width:35%;">
        <a id="getVerify" class="orange-btn" onclick="getVer()" style="
    padding: 8px 5px;
">获取验证码</a>
      </div>
  
</div>
      

      <div class="row agreement">
        <span class="instruction">点击注册，即表示你阅读并同意遵守<a class="/superclass">南巷BBS总纲</a>，以及各项具体<a class="red-link" data-no-pjax href="/rule">站规细则</a>。</span>
      </div>
      <div class="row" style="margin-top: 30px;">
        <a id="registing" class="orange-btn" onclick="sub()">注册</a>
      </div>
    </div>
    </form>

   
 
</div>

<div id="big-title-footer">
  <p>@ 2017-2017 南巷BBS</p>
</div>
</body>
</html>
