<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=320, user-scalable=no">
  <meta name="wap-font-scale" content="no">
 
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="js/strapdown.js"></script>
<script type="text/javascript" src="js/format.js"></script>
<script type="text/javascript">
$(document).ready(function () {
        if(IsPC())
        {
          window.close(); 
          alert('论坛尚未支持电脑端，请使用手机开启');
        }
});
</script>
<script type="text/javascript">
  $(document).ready(function(){
    var userCookie = checkLoginStatus();
    if(userCookie) {
      $("#l_or_p").text("个人");
      $("#l_or_p").attr("href","/mypage?name="+escape(userCookie));
    }
  })
</script>
 <script type="text/javascript" src="js/search.js"></script>
<link rel="stylesheet" href="http://pic.zdnfbbs.cn/all.css">

<title>[总纲]南巷BBS</title>

<style>#page-content{background: white;}#footer{background: white;}</style>

</head>
<body>
<div id="top-search">
  <span class="logo">南巷BBS</span>
  <div class="search">
    <input data-role="top-search-text" type="text" placeholder="帖子、回复" />
    <a id="search" data-action="top-search"><i class="iconfont"></i></a>
  </div>
</div>
<div id="top-nav" >
  <a href="/">首页</a
  ><a href="/mplate" >版面</a>
  <a href="/freshman">新生</a>
  
  <a href="/m/login" id="l_or_p">登录</a>
  
  <a href="/help">帮助</a>
</div>

<div id="page-content">
  <!-- this is the real content-->
<!-- start main -->
<div id="page-collection-read">
  <a class="back" href="/superclass"><img src="iconfont.png"> 南巷BBS 总纲</a>
  <p class="title">[站规] 南巷BBS站规</p>
  <div class="collection-card">
    <a href="user.php?uid=8911" class="author">
      <div class="avatar">
        <img src="nanxiang.jpg">
                <span class="vip-0"></span>
              </div>
      <span class="name text-limit">skyisbule</span>
      <span class="time">2017-8-6 21:13:41</span>
    </a>
<!--正文-->

    <div class="file-read body">

    <p>
    <br/>
</p>
<p>
    站规
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;一、&nbsp;&nbsp;&nbsp;本站的合法用户享受本站合法用户应有的一切权利。言行不得违反国家的法律法规，不得违反BBS&nbsp;公约，不得违犯本站一切有效的管理办法。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;二、&nbsp;&nbsp;&nbsp;本站的合法用户的个人资料受到本站保护，除非依照相应法律程序并获得本站站长批准后方可以接受资料查询。对于用户言行触犯国家法律法规的行为，本站不予保护。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;三、&nbsp;&nbsp;&nbsp;本站合法用户，请随时根据事实更新用户资料。如果用户的个人资料不真实，一经发现，将立即删除帐号。帐号或者昵称含有不雅含义、影射
党和国家领导人、模仿系统帐号、存在不良影响的，一经发现，立即删
除帐号。一个用户最多可注册三个帐号，超过此数目，不予身份认证，
直接删除。若已经通过认证的，一经发现，删除该用户的所有帐号。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;四、&nbsp;&nbsp;&nbsp;为保障本站其他合法用户的权利，本站用户无论发表文章（包括版面，
精华区，文集等）、聊天室聊天、底部流动信息、投票留言、自杀留言、
呼叫使用者聊天、发消息、发信、离站留言以及在自己的昵称、说明档、
签名档中，均不能对他人进行人身攻击、包含侮辱性言辞或含有引起多
数用户反感的内容。如果违犯上述情形，一经发现，给予警告至相应的
权限封禁的处罚；情况严重者经站务委员会通过，给予删除帐号的处罚。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;五、&nbsp;&nbsp;&nbsp;相同或相近内容文章一周内在本站各讨论区张贴或者转载5次或5次以上，

被认定为一文多发。一文多发的用户视情况受到封禁发表文章权力一周
以上直至删除帐号的处罚。对于商业性质的广告，从重处罚。简要说明
如下：
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.违犯者如属初犯且重复发文数小于30篇者将受到禁止post文章一定天数的惩罚，封禁天数为（发文数＋2）。
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.对于在一个讨论区反复张贴内容相同或者相似文章的，类似文章多次转贴处理。
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.再犯者删除帐号。
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.一文多发达30篇者，删除帐号。
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.商业广告一文多发达10篇者，删除帐号。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;六、&nbsp;&nbsp;&nbsp;不得在各个讨论区发表空洞无物的灌水文章(有特殊规定的讨论区除外),
否则一经发现，将会视情节轻重受到警告、封禁发表文章权力、封禁上
站权力的处罚；情节恶劣者，经站务委员会通过，删除其帐号。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;七、&nbsp;用户不得使用本站帐号从事非法商业行为或公然在聊天室或版面上发表
猥亵、色情内容和反政府言论。违者将封禁其部分权利，情节严重者，
经站务委员会讨论通过，删除其帐号。注：寻找枪手（征枪手）或做枪
手的文章一经发现，处以删除帐号之处罚。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;八、&nbsp;对站内以获利为目的的广告做如下规定：（包括版面文章、信件、签名
档、个人说明档、留言板、自杀留言、投票留言、站内讯息等）
1.禁止一切未允许的以获利为目的或者涉及学生物质利益的广告；
<br/>
</p>
2.允许的广告包括转让、求购、推销学生日常用品广告；学生日常用品等。
广告的具体含义是指不与校外发生关系的广告；

<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;3.违规广告，视情况处以勒令改正、封禁全站post权限（mail权限）或
上站权限，直至删除帐号的处罚。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;九、 &nbsp;本站用户在发文或者说明档中，应该充分考虑其文章或者说明档对其他
用户阅读造成的影响。如果在文章（包括签名档）或者个人说明档中，
利用ASCII&nbsp;控制符造成延时、断线或者其它影响用户正常使用的恶劣后
果者，一经发现或用户投诉，将根据情节给予警告、责令改正乃至封禁
部分权限的处罚，对于拒不改正者，经站务委员会讨论，可以给予更严
厉的处罚。对有特殊规定的版面（如ASCIIart、test版），可以根据版
面的特殊规定进行处理。
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<p>
    &nbsp;十、 &nbsp;利用本站系统的不完善或者程序漏洞，使用人工、自动等各种方式，以
</p>
非正常的连接频率连续并多次冲击本站的，一律视为网络攻击。由系统
维护根据系统日志判定为准。视其情节轻重，给予封禁违规帐号部分权
限、修改发表文章数目和上站次数直至删除帐号的处罚。情节严重的，
将根据情况封禁其ip一定时间。其余对系统有影响的未涉及情况，一律
以系统维护的意见为准。同时由站务委员会给予适当处罚。暂定：封禁ip处罚时间可能为一周，一个月，三个月，一年。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;十一、&nbsp;对于明知故犯、无视版务和站务警告或处罚再三违反站规和其他管理规
定(如短时间内在多个版面被同时封禁)，经过站务委员会讨论根据其具
体情况可以给予封禁部分权限直至删除帐号的处罚。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;十二、&nbsp;本站帐号代表用户个人，由于用户发表文章或者其他站上交流引起的法
律上的或者经济上的责任，本站不予承担任何形式的责任，用户的言论
文责自负。
</p>
<p>
    <br/>
</p>
<p>
    &nbsp;十三、&nbsp;本站帐号仅代表用户个人，本站的帐号不得转借、转让。如发现转借、
转让帐号的行为，视情节轻重封禁发表文章权力、封禁上站权力直至删
除帐号的处罚；
</p>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<p>
    &nbsp; &nbsp;本管理办法解释权属于计协开发部，本管理办法自公布之日起执行。
</p>
<p>
    <br/>
</p>
<p>
    --
</p>
<p>
    由skyisbule于2017年8月7日修改
</p>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
          

     </div>
      </div>
</div>

<!-- end main -->
  <!-- content end-->
</div>

<div id="footer">
  <p><a href="/">计协</a><span>-</span><a href="/help">帮助中心</a><span>-</span><a href="/platepost?id=22">意见反馈</a></p>
  <p>© 2017–2017 南巷BBS</p>
</div> 
</body>
</html>
