@charset "utf-8";
/* CSS Document */
.md_header_top_link{width:100%;position:fixed;_position:absolute; top:0px; left:0px;z-index:10001; height:30px; line-height:30px; background:#FFF; border-bottom:1px solid #eee}
.md_header_top_link span.r a{ margin-right:10px; color:#666; }.md_header_top_link span.r a:hover{ color:#06C}
.md_common_header{ padding-top:50px; background:#fff}
.md_common_header .adbox{ float:right; width:700px; height:80px; overflow:hidden; margin-right:30px !important;margin-top:0px;margin-right:0px;}
.md_common_header .adbox a img{ width:700px; height:80px}

.md_common_nav{ width:100%; background:#1464bd; height:72px; overflow:hidden; border-bottom:3px solid #bbb}
.md_nav{ height:72px; width:100%; background:none; border-bottom:none;}
.md_nav_box{ width:20%; float:left; height:60px; line-height:30px; margin-top:5px; padding-right:10px; padding-left:10px; overflow:hidden;}
.r-curt{background:url(../image/curt.gif) top right repeat-y}
.no-bg{ background:none}
.nav_class,.nav_links{ width:100%; text-align:left; margin:0 auto; font-size:14px; color:#fff}
.nav_class { margin-top:5px; margin-bottom:5px}
.nav_links a{ font-size:14px; color:#fff; float:left; height:20px; line-height:20px; margin-top:5px;}
.nav_links a.r-curt{ border-right:1px solid #709dd6; background:none}
.nav_links a:hover{ background:#fff !important; color:#390}
.md_common_child_nav{margin:0 auto; height:30px; line-height:30px; text-align:left; color:#666; background:#fff; border-bottom:1px solid #ddd; display:none}
.md_common_child_nav a{ padding:0px 20px 0px 20px; color:#666; font-size:14px; border-right:1px solid #ddd}
.nav_class{ position:relative}.md_nav_box,.md_common_nav{ overflow:visible}
.nav_links{ padding-left:3px}
.mh_c_n { width:auto; height:23px; line-height:28px; position:absolute; left:110px; top:0px;}
.mh_c_n a { font-size:14px; color:#fff; font-weight:bold;font-family:"宋体"; margin-left:5px; margin-right:5px; }
.qiehuan{ position:absolute; top:-15px; right:90px;}