@charset "UTF-8";
	
	body{
		margin: 0 0 10% 0;
		background-image: url(../static/ll.jpg);
		background-attachment:fixed;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../static/ll.jpg', sizingMethod='scale');
		-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../static/ll.jpg', sizingMethod='scale');
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	}

	.title {
		width: 100%;
		height: 20%;
		margin: 0;
		text-align: center;
		background-color: #475052;
		opacity:0.9;
		filter:alpha(opacity=90);
		//#397FE9
	}

	.login{
		float:right;
		text-decoration:none;
		font-size:21px;
		color: #A4AEB0;
		margin-top: 1%;
		margin-right: 8%；
	}
	.login:hover{
		color:#F00;
		text-decoration:none;
	}

	.tail{
		float: right;
		height: 10%;
		width: 100%;
	}

	.tailfloor{
		float: right;
		color: #999;
		font-size: 10px;
	}

	.tailtime{
		float: right;
		margin-left: 5%;
		margin-right: 5%;
		color: #999;
		font-size: 10px;
	}

	.host{
		float: left;
		height: 20%;
		width: 100%;
		margin-top: 1%;
		padding: 1%;
		border:0px solid #ccc;
	}

	.hosttitle{
		float: left;
		height: 10%;
		width: 90%;
		margin-left: 5%;
		border:0px solid #ccc;
		font-size:30px;
		resize:none;
		background: rgba(225,225,225, 0.2);
	}

	.hostmessage{
		float: left;
		height: 20%;
		width: 90%;
		margin-left: 5%;
		border:0px solid #ccc;
		font-size:20px;
		resize:none;
		background: rgba(225,225,225, 0.2);
	}

	.me{
		float: left;
		height: 20%;
		width: 20%;
		margin-top: 1%;
		text-align: center;
		padding: 1%;
		border:0px solid #ccc;
	}

	.name{
		color: white;
	}

	.headshot{
		border-radius:50%;
		overflow: hidden;
	}

	.message{
		float: left;
		height: 20%;
		width: 70%;
		margin-left: 5%;
		margin-top: 2%;
		border:0px solid #ccc;
		font-size:20px;
		resize:none;
		background: rgba(225,225,225, 0.2);
	}

	.saytitle{
		float: left;
		height: 20%;
		width: 60%;
		margin-top: 2%;
		margin-left: 6%;
		border:2px solid #ccc;
		font-size:20px;
		resize:none;
		background: rgba(225,225,225, 0.8);
	}

	.say{
		float: left;
		height: 20%;
		width: 60%;
		margin-top: 1%;
		margin-left: 6%;
		border:2px solid #ccc;
		font-size:20px;
		resize:none;
		background: rgba(225,225,225, 0.8);
	}

	.sand{
		float: left;
		height: 30px;
		width: 20%;
		margin-top: 11%;
		margin-left: 2%;
		background-color: #C4C4C4;
		background: rgba(52,52,52, 0.5);
	}

	.clear{
		clear: both;
	}
